body {
  padding-bottom: 100px;
}

.loader {
  margin: auto;
  border: 8px solid #ffffff00;
  border-top: 8px solid #1db954;
  border-right: 8px solid #1db954;
  border-bottom: 8px solid #1db954;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}